@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
  }
 
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }

  .searchTerm:focus{
    color: rgb(83, 76, 123);
  }
  
  .searchButton {
    width: 40px;
    height: 34px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navigationBar {
    padding: 1vw;
    display: flex;
    background-color: rgb(83, 76, 123);
    margin: 0 auto;
    position: fixed;
    width: 99vw;
  }
  .loginBar {
    display: flex;
    margin: 0 auto;
  }
  .navigationBar #storeName{
    color: #e0dfdc;
    font-size: 30px;
    letter-spacing: .1em;
    text-decoration: none;
    text-shadow: 0 2px 0 #2e2e2e, 0 3px 0 #2c2c2c;
  }
  
  .navigationBar .links{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    font-family: "Quicksand" !important;

  }

  .navbarButton:hover{
    transform: scale(1.02); /* Adjust the scaling factor as needed */
    z-index: 1;
  }
  .navigationBar .links .navbarButton{
    font-size: 20px;
    background-color: black;
    color : #e0dfdc;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
  }
  .search-bar{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    width: 30%;
    background-color: white;
    border-radius: 8px;
  }

  #cathegory-title{
    color: black;
    margin-bottom: 15px;
    width: 250px;
  }
  .cathegory-items-box {
    border-right: 2px solid rgb(83, 76, 123);
    max-width: 250px;
    color: rgb(83, 76, 123);
    display: flex;
    align-items: center; /* Align items vertically at the center of the flex container */
  }
  
  .cathegory-items {
    width: 100%;
    color: rgb(83, 76, 123);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center; /* Align items vertically in the center */
    flex-direction: row; /* Display items horizontally */
    align-self: flex-start; /* Align the button to the start of the flex container */
  }
  .cathegory-items-box:hover{
    color: white;
  }
  .cathegory-items:hover{
    background-color: rgb(83, 76, 123);
    color: white;
  }

.AddProductForm{
  padding-top: 8%;
  display:flex;
  flex-direction: column;
  padding: 0px 10px;
  width: 600px;
}

.AddProductForm p{
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  color: rgb(83, 76, 123);
}

.AddProductForm label{
  margin-top: 5px;
  font-weight: 700;
  font-size: 17px;
}
.AddProductContainer{
  display:flex;
  justify-content: center;
  padding-top: 40px;
}


.AddProductForm .submit-button{
  margin: 10px;
  font-size: 20px;
  background-color: black;
  color : #e0dfdc;
  border-radius: 8px;
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
}

.Product-page-container{
  padding-top: 8%;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  flex-direction: row;
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.product-list{
  align-items: center;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr); /* Three columns with equal width */
} 
.product-thumbnail {
  width: 200px; /* Set the width to 300 pixels */
  height: auto; /* Maintain the aspect ratio */
}
.product-list-container{
  width: 100%;
  padding-left: 20vw;
  flex-grow: 1;
}

.category-menu{
  position:fixed;
  width: 20vw;
}

.product-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* Add additional styling for the overlay content if needed */

.product-details{
  font-size: 20px;
}
.product-title{
  color: rgb(83, 76, 123);
  font-weight: 800;
  padding-bottom: 20px;;

}
.product-price{
  color: green;
}
.btn{
  width: 200px;
  font-size: 15px;
  background-color: black;
  color : #e0dfdc;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
}
.specific-product-details-container{
  padding-left: 25%;
  max-width: 60vw;
  display: grid;
  height: auto;
  gap: 50px;
  grid-template-columns: 1fr 2fr;
}
.title-and-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-image {
  align-content: center;
  width: 100%;
  height: auto; /* Maintain the aspect ratio */
  padding-top: 20%;
}
.btn-specific{
  width: 100%;
  height: 50px;
  font-size: 1.5vw;
  background-color: black;
  color : #e0dfdc;
  border-radius: 8px;
  text-decoration: none;
}
.specific-product-title{
  color: rgb(83, 76, 123);
  font-size: 2vw;
  padding-bottom: 5%;
}
.specific-product-description{
  padding-bottom: 5%;
  font-size: 1vw;
}
.specific-product-genre{
  padding-bottom: 5%;
  font-size: 1vw;
}
.specific-product-price{
  padding-bottom: 5%;
  font-size: 1vw;
}
.profile-container{
  padding-top: 8%;

}

.profile-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  width: 350px;
}
.login-contaniner {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}
.shopping-cart-logo img{
  width: 45px;
  height: auto;
}
.shopping-cart-logo{
  margin-right: 10px;
}
.prod-title{
  font-weight: 400;
  font-size: 170%;
  color: rgb(83, 76, 123);
}
.login-container {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  width: 350px;
}

.login-form input:focus {
  outline: 2px solid rgb(83, 76, 123);
  border: none;
}

.profile-form input:focus {
  outline: 2px solid rgb(83, 76, 123);
  border: none;
}

.login-form button {
  background-color: rgb(83, 76, 123);
  margin: 20px 0px;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
}

.login-form button:hover {
  background-color: black;
  color: rgb(83, 76, 123);
  cursor: pointer;
}

.profile-form button {
  background-color: rgb(83, 76, 123);
  margin: 20px 0px;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
}

.profile-form button:hover {
  background-color: black;
  color: rgb(83, 76, 123);
  cursor: pointer;
}

.success-msg {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(229, 255, 228);
  padding: 10px;
  border-radius: 10px;
  color: green;
}


.error-msg {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(229, 255, 228);
  padding: 10px;
  border-radius: 10px;
  color: red;
}

.signup-container {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  width: 350px;
}

.signup-form input:focus {
  outline: 2px solid rgb(83, 76, 123);
  border: none;
}

.signup-form button {
  background-color: rgb(83, 76, 123);
  margin: 20px 0px;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  padding: 5px;
}

.signup-form button:hover {
  background-color: black;
  color: rgb(83, 76, 123);
  cursor: pointer;
}

.success-msg {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(229, 255, 228);
  padding: 10px;
  border-radius: 10px;
  color: green;
}


.error-msg {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(229, 255, 228);
  padding: 10px;
  border-radius: 10px;
  color: red;
}

.profile-container {
  padding-top: 8%;
  display: flex;
  justify-content: center;
}

.hyperlink {
  font-family: 'Quicksand';
  font-size: 14px;
}

.order-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.welcome{
  font-size: 20px;
    color:  rgb(83, 76, 123);
    padding-bottom: 5%;
}

.order-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  width: 350px;
}

.order-container {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.order-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 10px;
  width: 350px;
}

.description-input{
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

.add-button{
  padding-top: 10%;
  
}

.delete-button {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.delete-button:hover::before{
  content: "delete!";
  color: white;
}


.submit-delete-button{
  margin: 10px;
  font-size: 20px;
  background-color: transparent;
  color : red;
  font-weight: 500;
  border-radius: 8px;
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;

}
.submit-delete-button:hover{
  background-color: red;
  color : white;
}

  
.input-category{
  border: 3px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  padding: 2px;
  outline: none;
  color: #9DBFAF;
}
.input-category-button{
  border: 2px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 100%;

}
.colored-label{
  color: rgb(174, 163, 235);
}