.single-order-container{
    display: grid;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    grid-template-columns: 1fr 4fr;
}
.order-page-container{
    padding-top: 8%;
    width: fit-content;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.order-items{
    padding-top: 5%;
    text-align: left;
}
.order-items-title{
    font-size: 30px;
    padding-bottom: 30px;
}
.order-details{
    border-radius: 20px;
    border: 2px solid lightgrey;
    border-radius: 20px;
    height: fit-content;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid lightgrey;  
    border-radius: 20px;
    align-items: center;
    padding: 10%;
}

.order-details button {
    background-color: rgb(83, 76, 123);
    margin: 10px 0px;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
}

.order-details button:hover {
    background-color: black;
    color: rgb(83, 76, 123);
    cursor: pointer;
  }