@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
  }
 
  .navigationBar {
    padding: 20px;
    display: flex;
    background-color: rgb(83, 76, 123);
    margin: 0 auto;
  }
  .navigationBar #storeName{
    color: #e0dfdc;
    font-size: 30px;
    letter-spacing: .1em;
    text-decoration: none;
    text-shadow: 0 2px 0 #2e2e2e, 0 3px 0 #2c2c2c;
  }
  .navigationBar .links{
    margin-left: auto;
  }

  .navigationBar .links .navbarButton{
    font-size: 20px;
    background-color: black;
    color : #e0dfdc;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
  }
  .search-bar{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    width: 30%;
    background-color: white;
    border-radius: 8px;
  }
  .cathegory-list {
    padding-top: 20px;
    padding-left: 4%;
  }
  #cathegory-title{
    color: black;
    margin-bottom: 15px;
  }
  .cathegory-items-box{
    border-right: 2px solid  rgb(83, 76, 123);
    max-width: 250px;
    color: rgb(83, 76, 123);
  }
  .cathegory-items{
    color: rgb(83, 76, 123);
    font-size: 25px;
    font-style: bold;
    font-weight: 600;
    display: block;

    text-decoration: none;
  }
  .cathegory-items-box:hover{
    color: white;
  }
  .cathegory-items:hover{
    background-color: rgb(83, 76, 123);
    color: white;
  }
  .product-list{
    padding-top: 0%;
    padding-left: 20%;
  }
  
.homePage-container{
  display:flex;
  margin-left: 5%;
} 

.AddProductContainer{
  display:flex;
  justify-content: center;
  padding-top: 40px;
}

.AddProductForm{
  display:flex;
  flex-direction: column;
  padding: 0px 10px;
  width: 600px;
}

.AddProductForm p{
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  color: rgb(83, 76, 123);
}

.AddProductForm label{
  margin-top: 5px;
  font-weight: 700;
  font-size: 17px;
}

.AddProductForm button{
  margin: 40px;
  font-size: 20px;
  background-color: black;
  color : #e0dfdc;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
}