@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
  }
 
  .navigationBar {
    padding: 20px;
    display: flex;
    background-color: rgb(83, 76, 123);
    margin: 0 auto;
  }
  .navigationBar #storeName{
    color: #e0dfdc;
    font-size: 30px;
    letter-spacing: .1em;
    text-decoration: none;
    text-shadow: 0 2px 0 #2e2e2e, 0 3px 0 #2c2c2c;
  }
  .navigationBar .links{
    margin-left: auto;
  }

  .navigationBar .links .navbarButton{
    font-size: 20px;
    background-color: black;
    color : #e0dfdc;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
  }
  .search-bar{
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    width: 30%;
    background-color: white;
    border-radius: 8px;
  }
  .cathegory-list {
    padding-top: 20px;
    padding-left: 4%;
    max-width: 250px;
    color: rgb(83, 76, 123);
  }
  #cathegory-title{
    color: black;
    margin-bottom: 15px;

  }
  .cathegory-preview{
    border-right: 2px solid  rgb(83, 76, 123);
  }
  .cathegory-preview:hover{
    background-color: rgb(83, 76, 123);
    color: white !important;
  }
 